[
    {
        "request": {
            "method": "GET"
        },
        "response": {
            "headers": {"Content-Type": "text/plain"},
            "body": "HTTP Server Mock is running!"
        }
    }
]
